@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
p {
  font-family: 'Noto Sans KR', sans-serif;
}

#top{
  box-shadow: 10px 10px 10px gray;
  width: auto;
  height: 70px;
  background-color: #997000;
  font-size: 30pt;
}

#topmark{
padding: 5px;
text-shadow: 1px 1px 3px gray;
}

#content{
  width: auto;
  height: auto;
  background: #FFFFE9;
  margin-bottom: 20px;
  padding: 60px;
}

#polaroid {
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
   0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#container {
  padding: 10px;
  background-color: #F6F6F6;
}
